<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Company</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<section class="p-5">
    <body>
    <div align="center">
        <h1>Data Company</h1>
        <a href="/company/add" class="btn btn-success">Create New Company</a>
        <br>
        <div class="table-responsive-sm">
            <table cellpadding="10" class="table" style="width: auto">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nama</th>
                    <th>Alamat</th>
                    <th style="text-align: center">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="company : ${listCompany}">
                    <td th:text="${company.id}">ID</td>
                    <td th:text="${company.nama}">Nama</td>
                    <td th:text="${company.alamat}">Alamat</td>
                    <td>
                        <a th:href="'company/edit/' + ${company.id}" class="btn btn-warning" role="button">Edit</a>
                        <a th:href="'company/delete/' + ${company.id}" class="btn btn-danger" role="button">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    </body>
</section>
</html>