<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<section class="p-5">
    <body>
        <div align="center">
            <h1>Data Employee</h1>
            <a href="/employee/add" class="btn btn-success" role="button">Create New Employee</a>
            <br>
            <div class="table-responsive-sm">
                <table cellpadding="10" style="width: auto" class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nama</th>
                            <th>Nama Atasan</th>
                            <th>Company</th>
                            <th style="width: auto; text-align: center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="employee : ${listEmployee}">
                            <td th:text="${employee.id}">ID</td>
                            <td th:text="${employee.nama}">Nama</td>
                            <td th:text="${employee.atasanId}">Atasan ID</td>
                            <td th:text="${employee.companyId}">Company ID</td>
                            <td>
                                <a th:href="'employee/edit/' + ${employee.id}" class="btn btn-warning" role="button">Edit</a>
                                <a th:href="'employee/delete/' + ${employee.id}" class="btn btn-danger" role="button">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</section>
</html>